* {
  font-family: Helvetica, Arial, sans-serif;
}


h1 {
  color: white;
  margin: 0px;
}


p, 
a {
  font-size: 18px;
}

/*header section*/
header {
  background-image: url("https://s2.elespanol.com/2015/01/27/cocinillas/cocinillas_6509430_115894142_1024x576.jpg");
  background-color: #333333;
  background-repeat: no-repeat;
}

header h2,
h3 {
  color: white;
  margin: 0px;
}

header a {
  text-decoration-line: none;
  color: white;
}

.navbar-main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:40%;
}

.navbar-main a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.navbar-main a:hover {
  opacity: 0.7;
}

header .nav-button {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #A0583C;
  position:relative;
  float:right;
  width:12%;
  margin: 3px 11px;
  border-radius: 15px;
  padding: 4px;
}

header .home-button {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #C08267;
  position:relative;
}

.main-web-title {
  width: 35%;
  position:relative;
  float:left;
}

/*body section*/

body {
  background-color: #FFFADA;
}

.coffee-main {
}

.coffee-main h3 {
  color:#A0583C;
  border-top: 5px solid #603424;
  border-bottom: 5px solid #603424;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.coffee-box {
  background-color: #A0583C;
  border-radius: 15px;
  width: 20%;
  position: relative;
  float: left;
  margin: 10px 11px;
}

.coffee-box h4 {
  font-size: 20px;
  margin: 7px;
}

.coffee-box p {
  margin: 10px 5px;
}

.coffee-button {
  background-color:#603424;
  text-decoration-line: none;
  color: white;
  border-radius: 10px;
  margin: 10px 5px;
  font-size: 15px;
  padding: 3px 12px;
  float: right;
}

.coffee-box img {
  background-color: white;
  border-radius: 10px;
  width: 81%;
  height: auto;
  margin: 13px auto;
  padding: 2px;
  display: block;
}


/*footer section*/
footer {
  background-color: #C08267;
}

footer p {
  font-size: 14px;
  color: white;
}